:root {
    --bg-color: #000;
    --text-color: #FFF;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    
}

body {
    overflow-x: hidden;
    width:100%;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.55;
    max-width: 114rem;
    margin: 0 auto;
    color: var(--text-color);
    background-color: var(--bg-color);
}

#intro-video{
    object-fit: cover;
    height: 100vh;
}

.mask {
    width: 100%;
}

.mask__img {
    width: 100%;
    height: auto;
}

.u-start-container {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15%;
}

.start {
    position: relative;
    font: inherit;
    font-size: 200%;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.start::after {
    position: absolute;
    content: '';
    top: 150%;
    left: 25%;
    background-color: #FFF;
    width: 50%;
    height: 50%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    animation-name: hovering;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.info {
    height: 100vh;
}

.info__text {
    animation: fadeEffect 3s;
    position: relative;
    display: none;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;

}

.info__maskmenu{
    width: 100px;
    height: 100px;
    background-color: #D0D4D5;
    border-radius: 50%;
    position:relative;
    left: 70%;
    
}

.info__maskmenu__closebutton {
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    right: 5%;
    z-index: 1;
    top: -10%;
  }
  .info__maskmenu__closebutton:hover {
    opacity: 1;
  }
  .info__maskmenu__closebutton:before, .info__maskmenu__closebutton:after {
    left: 7px;
    position: absolute;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
    margin-top: 5%;
  }
  .info__maskmenu__closebutton:before {
    transform: rotate(45deg);
  }
  .info__maskmenu__closebutton:after {
    transform: rotate(-45deg);
  }

.info__maskmenu__figure{
    height: 50%;
    position:absolute;
    right: 50%;
    top: 50%;
    transform:translate(50%,-50%);
}

.info__maskmenu__figure__icon {
    height: 100%;
}

#js--mask-icon{
    display: block;
}


.info__maskmenu__figure__masks{
    height: 100%;
}

#js--maskInteraction{
    display: none;
    

}



@keyframes hovering {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeAway{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes moveToLeft {
    from {transform: rotate(0deg)}
    to {transform: rotate(180deg); transform: translateX(-100%);}
}

@keyframes becomeBigger{
    from {transform: translate(0)}
    to{transform: scale(3) translate(-40%, 50%); border-radius: 0px;}
}

@keyframes becomeSmaller{
    from {transform: scale(3) translate(-40%, 50%); border-radius: 0px;}
    to{transform: scale(-2) translate(0, 0); border-radius: 50%;}
}

@keyframes flip {
    0% {transform: rotateY(0deg)}
    25% {transform: rotateY(90deg)}
    50% {transform: rotateY(90deg)}
    100% {transform: rotateY(0deg)}
}